body {
    background-color: #262626;
    min-height: 100% !important;
}

.full-screen {
    background-repeat: no-repeat;
    background-position: center 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}